:root {
  --color-primary-dark: #101828;
  --color-secondary-dark: #8e929a;
  --color-primary-blue: #3470ff;
  --color-secondary-blue: #0b44cd;
  --color-gray-light: #dadde1;
  --color-gray-lighter: #f2f4f7;
  --color-gray-lightest: #f7f7f7;
  --color-white: #ffffff;
}
